MYSQL_HOST=
MYSQL_USER=
MYSQL_PASS=
MYSQL_DB=
MYSQL_PRESET_LOCAL=
MYSQL_PRESET_REMOTE=

SESSION_SECRET=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

WEBDAV_ENDPOINTS=
